<!DOCTYPE html>
<html>
  <head>
    <title>AddOri2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--header>
        <div class="hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>

          <div class="menu-content">
            <ul>
                <li>
                    <a href="#">RECORD</a>
                </li>
                <li>
                    <a href="#">NEW ITEM</a>
                </li>
                <li>
                    <a href="#">FAVORITE</a>
                </li>
                <li>
                    <a href="#">SEARCH</a>
                </li>
            </ul>
          </div>
        </div>
      </header-->
    <%= yield %>
  </body>
</html>
